[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true

[tasks.build]
command = "cargo"
args = ["build", "--workspace", "--release"]

[tasks.test]
command = "cargo"
args = ["test", "--workspace"]

[tasks.fmt]
command = "cargo"
args = ["fmt", "--all"]

[tasks.lint]
command = "cargo"
args = ["clippy", "--workspace", "--", "-D", "warnings"]

[tasks.clean]
command = "cargo"
args = ["clean"]

[tasks.check]
dependencies = ["fmt", "lint", "test"]
